
@font-face {
    font-family: 'Traditian';
    font-style: normal;
    font-weight: normal;
    src: local('Traditian Regular'), url('/assets/fonts/Traditian.woff') format('woff');
}

@font-face {
    font-family: 'Dumbledor1';
    font-style: normal;
    font-weight: normal;
    src: local('Dumbledor1'), url('/assets/fonts/Dumbledor1.woff') format('woff');
}
